In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\nurga\appdata\local\programs\python\python314\lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=2.3.3 in c:\users\nurga\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nurga\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\nurga\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\nurga\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

data = {
    "Name": ["Neila", "Madina", "Zarina", "Maya", "Tolganay"],
    "Age": [19, 28, 30, 25, 18],
    "Score": [90, 69, 100, 95, 92]
}

df = pd.DataFrame(data)
df

       Name  Age  Score
0     Neila   19     90
1    Madina   28     69
2    Zarina   30    100
3      Maya   25     95
4  Tolganay   18     92

In [4]:
print("First 3 rows:")
print(df.head(3))

print("\nSummary statistics:")
print(df.describe())

avg_score = df["Score"].mean()
print("\nAverage score:", avg_score)

First 3 rows:
     Name  Age  Score
0   Neila   19     90
1  Madina   20     69
2  Zarina   20    100

Summary statistics:
             Age       Score
count   5.000000    5.000000
mean   19.400000   89.200000
std     0.894427   11.903781
min    18.000000   69.000000
25%    19.000000   90.000000
50%    20.000000   92.000000
75%    20.000000   95.000000
max    20.000000  100.000000

Average score: 89.2

In [5]:
older = df[df["Age"] > 20]
print("Students older than 20:")
print(older)

above = df[df["Score"] > 80]
print("\nStudents with score above 80:")
print(above)

Students older than 20:
Empty DataFrame
Columns: [Name, Age, Score]
Index: []

Students with score above 80:
       Name  Age  Score
0     Neila   19     90
2    Zarina   20    100
3      Maya   20     95
4  Tolganay   18     92